<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChallengeT3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="../public/bootstrap-5.2.0-dist/css/bootstrap-grid.css" rel="stylesheet">
    <!-- <link href="../public/bootstrap-5.2.0-dist/css/bootstrap-5.2.0-dist/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="../public/styles/style.css">
</head>
<body>

<!--Main Navigation-->
    <header>

      <!-- Navbar -->
<nav class="navbar navbar-expand-md w-100 navigation-wrap">
    <div class="navbar-collapse collapse dual-collapse2">
        <ul class="navbar-nav mr-auto ms-5">
            <li class="nav-item active">
                <a class="nav-link" href="#"
                style="font-family: 'Arial'; font-weight: 400; font-size: 24px";>LOGO</a>
            </li>

    </div>
    <div class="mx-auto flex-row justify-content-between">
        <ul class="navbar-nav d-flex flex-row mr-auto">
          <li class="nav-item active">
              <a class="nav-link mx-auto" href="#"
              style="font-family: 'Arial'; font-weight: 400; font-size: 12px;">HOME</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"
              style="font-family: 'Arial'; font-weight: 400; font-size: 12px;">WORK</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"
              style="font-family: 'Arial'; font-weight: 400; font-size: 12px;">CONTACT</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"
              style="font-family: 'Arial'; font-weight: 400; font-size: 12px;">ABOUT</a>
          </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse dual-collapse">
        <ul class="navbar-nav ms-auto me-5">
            <li class="nav-item2">
                <a class="nav-link" href="/register"
                   style="font-family: 'Arial'; font-weight: 400; font-size: 12px;">SIGN UP</a>
            </li>
            <li class="nav-item2">
                <a class="nav-link" href="/loginhome"
                style="font-family: 'Arial'; font-weight: 400; font-size: 12px;">LOGIN</a>
            </li>
        </ul>
    </div>
</nav>
      <!-- Navbar -->
  
      <!-- Background image -->
      <div id="intro" class="main-bg shadow-2-strong">
          <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
              <h1 class="mb-5 display-3 fw-bold special">PLAY TRADITIONAL GAME</h1>
              <h5 class="mb-5 special">Experience now traditional game play</h5>
              
              <!-- Button trigger modal -->
              <a href="/loginhome"><button type="button" 
                    
                    class="btn btn-warning text-black fw-bold mt-3" 
                    style="--bs-btn-padding-y: .75rem; --bs-btn-padding-x: 4rem; --bs-btn-font-size: .75rem;"
                    >PLAY NOW
              </button></a>

            </div>
          </div>
        </div>
      </div>
      <!-- Background image -->
    </header>
    <!--Main Navigation-->
  
    
        <!--Section: 2nd Page-->
    <section>
        <main>
            <div id="page2" class="the-games-bg">
                <div class="container d-flex align-items-center justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-3 gx-5 mb-4 mt-3">
                            <p class="text-white fs-5 lh-1">What's so special?</p>
                            <h1 class="text-white display-5 lh-1">THE GAMES</h1>
                        </div>
            
  
                        <div class="col-md-9 gx-5 mb-4 mt-5">
              <!-- Carousel -->
                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../public/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                      
                      
                                            <div class="slider-btn">
                                                <button class="btn btn-1"></button>
                                                <button class="btn btn-2"></button>
                                            </div>

                                        </div>
                                    </div>

                                  <div class="carousel-item">
                                    <img src="../public/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                      
                                    </div>
                                  </div>
                                  <div class="carousel-item">
                                    <img src="../public/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                      
                                    </div>
                                  </div>
                                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

             <!-- End of Carousel-->
                        </div>
                    </div>
                </div>
          </div>
        </main>
    </section>
        <!--Section: 2nd Page-->
  
        <!--Section: 3rd Page-->
    <section>
        <main>
            <div id="page3" class="features-bg">
                <div class="container d-flex flex-row justify-content-center">
                    <div class="row">
                        
                        <div class="col-md-12 mb-4 mt-5"
                             style="padding-top: 100px; padding-left: 630px;">
                            <h3 class="special text-white fs-5 lh-1 mt-3">What's so special?</h3>
                            <h1 class="text-white display-5 lh-1">FEATURES</h1>
                            <div class="col-md-12 gx-5 mb-4 mt-5">   
                               <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="rd_1" name="rd" class="custom-control-input" value="Yes">
                                    <label class="custom-control-label green text-warning fs-5 lh-1 mt-5" for="rd_1" style="margin-right: 11px;">TRADITIONAL GAMES<p class="text-white fs-6 lh-1 mt-3">
                                        If you miss your childhood, we provide many traditional games here</p></label>
                                </div>
                                <br>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="rd_2" name="rd" class="custom-control-input" value="Yes">
                                    <label class="custom-control-label red text-warning fs-5 lh-1 mt-5" for="rd_2">GAME SUIT</label>
                                </div>  
                                <br>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="rd_3" name="rd" class="custom-control-input" value="Yes">
                                    <label class="custom-control-label blue text-warning fs-5 lh-1 mt-5" for="rd_3">TBD</label>
                                </div>

                                  </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </main>
    </section>

<!-- System Requirements Page 4-->
<section class="SystemRequirements">
    <div id="page4" class="requirements-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-5 pt-5">
          <h3 class="special text-white text-center fs-6 mt-5"
              style="padding-top: 50px;">Can My Computer Run this game?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
            <h1 class="special text-white">SYSTEM</h1>
            <h1 class="special text-white">REQUIREMENTS</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 mt-5">
            <table class="table">
              <thead>
                <tr>
                    <th>
                      <h3 class="special text-warning fs-5 lh-1">OS:</h3>
                      <p class="special">Windows 7 64-bit only (No OSX support at this time)</p>
                    </th>
                    <th>
                      <h3 class="special text-warning fs-5 lh-1">POCESSOR:</h3>
                      <p class="special">Intel Core 2 Duo @2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>
                      <h3 class="special text-warning fs-5 lh-1">MEMORY:</h3>
                      <p class="special">4 GB RAM</p>
                    </td>
                    <td>
                      <h3 class="special text-warning fs-5 lh-1">STORAGE:</h3>
                      <p class="special">8 GB available space</p></td>
                </tr>
                <tr>
                    <td colspan="2">
                      <h3 class="special text-warning fs-5 lh-1">GRAPHICS:</h3>
                      <p class="special">NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- Page 5 -->
  <section class="Topscores">

    <div id="page5" class="topscore-bg">
      <div class="container-fluid padding">
        <div class="row padding ms-4">
          <div class="col-md-3 mt-3 ms-5">
            <h1 class="top-scores special display-4 text-white align-items-center justify-content-center">TOP SCORES</h1>
            <p class="top-text text-white align-items-center mt-4 display-5 fs-5">This top score from various games provided on this platform</p>
            <button type="button" 
                      class="btn btn-warning text-black fw-bold fs-5 btn-md btn-primary mt-5 mb-3"
                      style="--bs-btn-padding-y: .75rem; --bs-btn-padding-x: 4rem; --bs-btn-font-size: .75rem;"
                      >see more</button>
          </div>
          <div class="col-md-6 mt-5 ms-5 padding">
            <div class="card p-3 mb-2 card1">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <div class="image-stack">
                    <div class="image-stack__item image-stack__item--top">
                      <img src="../public/assets/evan-lahti.jpg" class="rounded-circle"
                           style="width: 65px;">
                    </div>
                    <div class="image-stack__item image-stack__item--bottom">
                      <img src="../public/assets/ellipse-orange.png" style="width: 65px;">
                    </div>
                    <div class="ms-2 container-fluid c-details d-flex flex-column justify-content-center"
                         style="width: 140px;">
                    <h3 class="mb-0 text-warning special3 fs-5 lh-1">Evan Lahti</h3> <span class="text-secondary text1">PC GAMER</span>
                    </div>
                  </div>
                </div>
                <div class="twitter-bg"></div>
              </div>
              <div class="mt-4">
                <p class="heading text-white special2"
                  style="width: 390px">"One of my gaming highlights of the year."</p>
              </div>
              <div class="mt-1"> <span class="text1 text-secondary">June 18, 2021</span>
              </div>
            </div>
            
            <div class="card p-3 mb-2 card2">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <div class="image-stack">
                    <div class="image-stack__item image-stack__item--top">
                      <img src="../public/assets/jada-griffin.jpg" class="rounded-circle"
                           style="width: 65px;">
                    </div>
                    <div class="image-stack__item image-stack__item--bottom">
                      <img src="../public/assets/ellipse-orange.png" style="width: 65px;">
                    </div>
                    <div class="ms-2 container-fluid c-details d-flex flex-column justify-content-center"
                         style="width: 140px;">
                    <h3 class="mb-0 text-warning special3 fs-5 lh-1">Jada Griffin</h3> <span class="text-secondary text1">Nerdreactor</span>
                    </div>
                  </div>
                </div>
                <div class="twitter-bg"></div>
              </div>
              <div class="mt-4">
                <p class="heading text-white special2"
                   style="width: 390px">"The next big thing in the world of streaming and survival games."</p>
              </div>
              <div class="mt-1"> <span class="text1 text-secondary">July 10, 2021</span>
              </div>
            </div>

            <div class="card p-3 mb-2 card3">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <div class="image-stack">
                    <div class="image-stack__item image-stack__item--top">
                      <img src="../public/assets/aaron-williams.jpg" class="rounded-circle"
                           style="width: 65px;">
                    </div>
                    <div class="image-stack__item image-stack__item--bottom">
                      <img src="../public/assets/ellipse-orange.png" style="width: 65px;">
                    </div>
                    <div class="ms-2 container-fluid c-details d-flex flex-column justify-content-center"
                         style="width: 140px;">
                    <h3 class="mb-0 text-warning special3 fs-5 lh-1">Aaron Williams</h3> <span class="text-secondary text1">Uproxx</span>
                    </div>
                  </div>
                </div>
                <div class="twitter-bg"></div>
              </div>
              <div class="mt-4">
                <p class="heading text-white special2"
                   style="width: 390px">"Snoop Dogg Playing The Wildly Entertaining 'SOS' is Ridiculous."</p>
              </div>
              <div class="mt-1"> <span class="text1 text-secondary">December 24, 2021</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

<!-- Page 6 -->
  <section id="news" class="newsletter">
    <div class="page6 newsletter-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3 mt-5 mr-4 d-flex flex-row justify-content-center skullimg">
            <img src="../public/assets/skull.png" alt="">
          </div>
          <div class="col-md-8 p-5 mt-5 ">
            <h3 class="text-white mt-5 ms-5">Want to stay in touch?</h3>
            <h1 class="text-white mt-5 ms-5">NEWSLETTER SUBSCRIBE</h1>
            <p class="lead text-white mt-5 ms-5">
              In order to start receiving our news, all you have to do is to enter your email address. Everything else will be taken care by us. We will send you emails containing information about game. We don't spam.
            </p>
            <div class="row subtext">
              <div class="card4 col-md-7 ms-0">
                <form class="form-inline" method="post">
                <div class="form-group">
                  <div class="email">
                    <h5 class="cardname mb-0 text-secondary special4 fs-5 align-items-center justify-content-center">Your email adress</h5> 
                    <span class="form-inline"><input class="form-control text-warning" type="email" name="email" placeholder="youremail@binar.co.id"></span>
                  </div>
                
                </div>
                </form>
              </div> 
              <div class="form-group col-md-3 ms-2 g-0">
                <button class="btn btn-warning fw-bold ms-5 type="submit">
                Subscribe now
                </button>
              </div>
            </div>
          </div>
        </div>

        <footer>
          <div class="text-white text-center d-flex flex-row flex-column align-items-center justify-content-between">
            <div class="row">
              <ul class="navbar-nav d-flex flex-row mr-auto justify-content-between">
                <li class="nav-item active">
                    <a class="nav-link mx-auto" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GAME FEATURES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SYSTEM REQUIREMENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">QUOTES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><div class="fb-bg"></div></a>
                </li>
                <li class="nav-item">
                  <img src="../public/assets/facebook.svg">
                </li>
                <li class="nav-item">
                  <img src="../public/assets/twitter.svg">
                </li>
                <li class="nav-item">
                  <img src="../public/assets/vector.svg">
                </li>
                <li class="nav-item">
                  <img src="../public/assets/twitch.svg">
                </li>
            </ul>
            <div>
              <hr style="height:2px;border-width:0;color:white;background-color:white">
            </div>
              <div class="copyright col-md-12 d-flex flex-row footer-link justify-content-between">
                <ul class="navbar-nav d-flex flex-row mr-auto justify-content-between">
                  <li class="nav-item active">
                    <p2 class="footer6 text-secondary">&copy; 2018 Your Games, Inc. All Rights</p2>
                  </li>
                </ul>
                <p2 class="footer7">PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p2>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>


  

  </section>

        <script src="../public/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
        
</body>
</html>
