<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/home.css">
    <title>Game Suit</title>
</head>
<body>
    <!-- Main Screen -->
    <section class="main-screen">
        <header class="header d-flex justify-content-center">
            <nav class="navbar navbar-expand-lg bg-transparent">
                <div class="container-fluid brand">
                    <a class="navbar-brand text-white" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbarnav">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">WORK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white">ABOUT ME</a>
                    </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse navbarend">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="signUp">SIGN UP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="login">LOGIN</a>
                        </li>
                        </ul>
                </div>
                </div>
            </nav>    
        </header>
        <div class="container-fluid">
            <div class="judul d-flex flex-column align-items-center">
                <h1 class="play text-white">PLAY TRADITIONAL GAME</h1>
                <h3 class="description text-white">Experience new traditional game play</h3>
                <button type="button" class="tombol">PLAY NOW</button>
            </div>
            <div class="scroll d-flex flex-column align-items-center">
                <span class="ts text-white">THE STORY</span> <br>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down down" viewBox="0 0 16 16">
                    <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                </svg>
            </div>
        </div>
    </section>
    <!-- Main Screen Selesai-->

    <!--About Gallery-->
    <div class="container-fluid about-gallery">
        <div class="h3 text-white">
            <h3>What’s so special?</h3>
        </div>
        <div class="the-games text-white">
            <h1 class="h1">THE GAMES</h1>
            <img class="rockpaperstrategy" src="assets/rockpaperstrategy-1600 1.png">
        </div>
        <img src="assets/switch.svg" class="panah-kanan">
        <img src="assets/switch (1).svg" class="panah-kiri">
        <img src="assets/screenshot 1.svg" class="ring-1">
        <img src="assets/screenshot 2.svg" class="ring-2">
        <img src="assets/screenshot 2.svg" class="ring-3">
        <img src="assets/screenshot 2.svg" class="ring-4">
        <img src="assets/screenshot 2.svg" class="ring-5">
    </div>
    <!--About Gallery-->

    <!--Features-->
    <div class="container-fluid features">
        <div class="text-special text-white">
            <h3>What’s so special?</h3>
        </div>
        <div class="sub-judul text-white">
            <h1>FEATURES</h1>
        </div>
        <div class="fitur">
            <h6>TRADTIONAL GAMES</h6>
            <br><br><br>
            <h6>TGAME SUIT</h6>
            <br>
            <h6>TBD</h6>
            <img src="assets/screenshot 1.svg" class="ring-6">
            <img src="assets/screenshot 2.svg" class="ring-7">
            <img src="assets/screenshot 2.svg" class="ring-8">
            <img src="assets/progress bar.png" class="garis">
        </div>
        <span class="span">If you miss your childhood, we provide<br>many traditional games here</span>
    </div>
    <!-- Features Selesai -->

    <!-- System Requirements -->
    <div class="container-fluid requirements">
        <div class="sub-judul2">
            <h3>Can My Computer Run this game?</h3>
        </div>
        <div class="req">
            <h1>SYSTEM<br>REQUIREMENTS</h1>
        </div>
    <img src="assets/requirements.png" class="table">
    <!-- System Requirements Selesai-->

    <!-- Quotes -->
    <div class="container-fluid quotes">
        <div class="top-scores">
            <h1 class="scores">TOP SCORES</h1>
            <br>
            <p class="p">This top score from various games provided<br>on this platform</p>
            <br>
            <button type="button" class="see-more">SEE MORE</button>
        </div>
        <div class="card text-bg-dark">
            <img src="assets/Ellipse.png" class="ellipse-1">
            <img src="assets/image 8.jpg" class="card-img">
            <img src="assets/twitter (1).svg" class="twitter-1">
            <div class="card-evan">
                <h5>Evan Lahti</h5>
            </div>
            <div class="hobi-1 text-muted">
                <p>PC Gamer</p>
            </div>
            <div class="bio-1">
                <p>“One of my gaming highlights of the year.”</p>
            </div>
            <div class="date-1 text-muted">
                <p><small>June 18, 2021</small></p>
            </div>
          </div>
          <div class="card2 text-bg-dark">
            <img src="assets/Ellipse.png" class="ellipse-2">
            <img src="assets/image.jpg" class="card-img2">
            <img src="assets/twitter (1).svg" class="twitter-2">
            <div class="card-jada">
                <h5>Jada Griffin </h5>
            </div>
            <div class="hobi-2 text-muted">
                <p>Nerdreactor</p>
            </div>
            <div class="bio-2">
                <p>“The next big thing in the world of streaming<br>and survival games.”</p>
            </div>
            <div class="date-2 text-muted">
                <p><small>July 10, 2021</small></p>
            </div>
          </div>
          <div class="card3 text-bg-dark">
            <img src="assets/Ellipse.png" class="ellipse-3">
            <img src="assets/image (1).jpg" class="card-img3">
            <img src="assets/twitter (1).svg" class="twitter-3">
            <div class="card-aeron">
                <h5>Aaron Williams </h5>
            </div>
            <div class="hobi-3 text-muted">
                <p>Uproxx</p>
            </div>
            <div class="bio-3">
                <p>“Snoop Dogg Playing The Wildly Entertaining<br>‘SOS’ Is Ridiculous.”</p>
            </div>
            <div class="date-3 text-muted">
                <p><small>JDecember 24, 2018</small></p>
            </div>
          </div>
    </div>
    <!-- Quotes Selesai-->

    <!-- Subscribe -->
    <div class="container-fluid subscribe">
        <div class="sub-judul3">
            <h3>Want to stay in<br>touch?</h3>
        </div>
        <div class="news">
            <h1>NEWSLETTER<br>SUBSCRIBE </h1>
        </div>
        <div class="p-2">
            <P>In order to start receiving our news, all you have to do is enter your email<br>address. Everything else will be taken care of by us. We will send you emails<br>containing information about game. We don’t spam.</P>
        </div>
        <div class="border-email">
            <p class="your-email">Your email address</p>
            <h6 class="email">youremail@binar.co,id</h6>
        </div>
        <button type="button" class="subs">Subscribe Now</button>
        <img src="assets/image.png" class="skull">
    </div>
    <!-- Subscribe Selesai-->

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="item">
                <span class="main">MAIN</span>
                <span class="about">ABOUT</span>
                <span class="gf">GAME FEATURES</span>
                <span class="sr">SYSTEM REQUIREMENTS</span>
                <span class="quot">QUOTES</span>
                <img src="assets/facebook (1).svg" class="fb">
                <img src="assets/twitter (2).svg" class="twitter-4">
                <img src="assets/Vector (1).svg" class="yt">
                <img src="assets/cursor.png" class="cursor">
                <img src="assets/twitch (1).svg" class="twitch">
            </div>
            <img src="assets/border.png" class="garis-2">
            <p class="p-4"> © 2018 Your Games, Inc. All Rights Reserved</p>
            <p class="p-5">PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p>
        </div>
    </footer>
    <!-- Footer Selesai-->

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>