<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
        <title>Challange 3 Nathanza Gaurangga</title>
        <link rel="stylesheet" href="./../style/home.css">

      </head>
    <body>
        <!-- Section 1-->
        <section class="Section1_1">
            <div class="container-fluid" id="navbar-header">
                <nav class="navbar navbar-expand-lg bg-transparent">
                    <div class="container">
                    <a class="navbar-brand" href="#logo">LOGO</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <div class="navbar-nav"> 
                            <a class="nav-link active text-white" aria-current="page" href="#">HOME</a>
                            <a class="nav-link mx-4 text-white" href="#">WORK</a>
                            <a class="nav-link text-white" href="#">CONTACT</a>
                            <a class="nav-link  mx-4 text-white" href="#">ABOUT ME</a>
                          </div>
                        </div>
                    </div>
                    <div class="navbar-nav" id="nav-quotes" >
                        <a class="nav-link text-white" href="#">SIGN UP</a>
                        <a class="nav-link text-white" href="#">LOGIN</a>
                    </div>
                    </div>
                </nav>
            </div>
                <div class="Section1_2">
                    <h1>PLAY TRADITIONAL GAME</h1>
                    <h3>Experience new traditional game</h3>
                </div>

                <div class="Section1_3">
                    <button type="button" class="btn btn-primary">PLAY NOW</button>
                </div>
                <div class="Section1_4">    
                    <a style="display: inline" class="bg-transparent text-white">THE STORY</a>
                    
                    <img src="../assets/scroll down.png">
                </div>
            </div>
        </section>

        <!--Section 2-->
        <section class="Section2">
                <h3 style= "padding-top:254px;margin-left: 83px;"> What's so special?</h3>
                <h1 style= "margin-left: 80px">THE GAMES</h1>
                <img style="width: 858px;height: 477px;left: 453px;top: 318.7px; margin-left: 454px;" src="../assets/Scissors.png">
        </section>
        
        <!--Section 3-->
        <section class="Section3">
            <div class="container d-flex flex-column">
                <h3 style="padding-left:911px; padding-top: 169px; ">What's so special?</h3>
                <h1 style="padding-left:911px;">FEATURES</h1>
                <h3 style="padding-left:898px;padding-top:42px;font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                text-align: center; letter-spacing: 2px;color: #FFB548;"> TRADITIONAL GAMES</h3>
                <h6 style="padding-left:990px; "> If you miss your childhood, we provide many traditional games here</h6>
                <h3 style="padding-left:952px; padding-top: 40px; font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 2px;color: #FFB548;"> GAME SUIT</h3>
                <h3 style="padding-left:952px; padding-top:20px; font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 2px;color: #FFB548;">TBD</h3>
            </div>
        </section>
        
        <!--Section 4-->
        <section class="Section4">
            <div class="container-fluid">
                <h3 class="container d-flex flex-column text-center" style="padding-top:145px; font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 2px;color: #FFFFFF;">Can My Computer Run This Game?</h3>
                <div style="padding-left:131.55px; font-family: 'Arial';font-style: normal;font-weight: 400;font-size: 56px;line-height: 64px;letter-spacing: 3px;text-transform: uppercase;color: #FFFFFF;">
                <h1>SYSTEM</h1>
                <h1>REQUIREMENTS</h1>
                </div>
            </div>
            <div class="Section3w">
                <div class="row" style="padding-left:121.77px;">
                        <div class="col">
                        <div class="row">
                        </div>
                          <div class="row">
                            <div class="col border border-white">
                                <h3 style="color: #FFB548;">OS:</h3>
                                <p>Windows 7 64-bit only (No OSX support at this time) </p>
                            </div>
                            <div class="col border border-white">
                                <h3 style="color: #FFB548;">PROCESSOR:</h3>
                                <p>Intel Core 2 Duo @2.4 GHZ or AMD Athlon X2 @2.8 GHZ</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class= "col border border-white">
                                <h3 style="color: #FFB548;">MEMORY:</h3>
                                <p>4 GB RAM</p>
                            </div>
                            <div class="col border border-white">
                                <h3 style="color: #FFB548;">STORAGE:</h3>
                                <p>8 GB available space</p>
                            </div>
                          </div>
                          <div class="row border border-white">
                            <h3 style="color: #FFB548;">GRAPHICS:</h3>
                            <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                          </div>
                        </div>
                        <div class="col"></div>
                      </div>
                </div>
            </div>
        </section>
        
        <!--Section 5-->
        <section class="Section5">
            <div class="container-fluid">
                <div class="container" style="padding-top: 159.59px;">
                <div class="card text-white bg-dark mb-3 justify-content-end" style="margin-left:1000px; max-width: 18rem;">
                    <div class="card-header">Evan Lathi</div>
                    <div class="card-body">
                      <h5 class="card-title">PC Gamer</h5>
                      <p class="card-text">"One of my gaming highlights of the year."</p>
                      <p class="card-text">June, 18 2021</p>
                    </div>
                  </div>
                
                  <div class="card text-white bg-dark mb-3" style="margin-left:800px; max-width: 18rem;">
                    <div class="card-header">Jada Griffin</div>
                    <div class="card-body">
                      <h5 class="card-title">Nerdreactor</h5>
                      <p class="card-text">"The next big thing in the world of streaming and survival games."</p>
                      <p class="card-text">July, 10 2021</p>
                    </div>
                  </div>
                
                  <div class="card text-white bg-dark mb-3" style="margin-left:1000px; max-width: 18rem;">
                    <div class="card-header">Aaron Williams</div>
                    <div class="card-body">
                      <h5 class="card-title">Uproxx</h5>
                      <p class="card-text">"Snoop dogg Playing The Wildly Entertaining 'SOS' Is Ridicilous"</p>
                      <p class="card-text">December, 24 2018</p>
                    </div>
                  </div>
                
                <div style="position: absolute;">
                <h1 style="padding-left:119px; margin-top: -400px;">TOP SCORES</h1>
                <p style="padding-left:121.58px; padding-right:941px;"> This top scores from various games provided on this platform</p>
                <button style="margin-left:121.58px; margin-top:20px" type="button" class="btn btn-primary">see more</button>
                </div>
                
                

            </div>
        </section>
        
        <!--Section 6-->
        <section class="Section6">
            <div class="container">
            <div class="row">
                <div class="col" style="padding-top:49.98px; padding-left:159.96px; background:radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);">
                <img src="../assets/skull.png">
                </div>
                <div class="col" style="padding-top:80px;">
                <h3>Want to stay in <br> touch?</h3>
                <h1 style="padding-top:10px;">NEWSLETTER <br> SUBSCRIBE</h1>
                <p style="padding-top:10px;">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam.</p>

        <nav class="navbar navbar-expand-lg" style="margin-top:25px">
            <div class="container-fluid">
                <form class="d-flex">
                  <input class="form-control me-2" type="Your email address" placeholder="youremail.binar.co.id" aria-label="Search">
                  <button class="btn btn-outline-success" style="color:black" type="submit">Subscribe now</button>
                </form>
              </div>
            </div>
          </nav>
            </div>
        </div>

    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-1">
              <h6>MAIN</h6>
            </div>

            <div class="col-xs-6 col-md-1">
                <h6>ABOUT</h6>
              </div>
    
            <div class="col-xs-6 col-md-2">
              <h6>GAME FEATURES</h6>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>SYSTEM REQUIREMENTS</h6>
            </div>

            <div class="col-xs-6 col-md-1">
                <h6>QUOTES</h6>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                  <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="youtube" href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a class="twich" href="#"><i class="fa fa-linkedin"></i></a></li>   
                </ul>
              </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">@ 2018 Your Games, Inc. All Rights Reserved 
           <a href="#"></a>
              </p>
            </div>
          </div>
        </div>
  </footer>

        </section>
    </body>
</html>
